body{
  margin:0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.bg-1{
  background-image: url(../src/asset/pexels-brett-sayles-912364.jpg);
  background-size: cover;
  min-height:100vh;
  animation:bgsuccess 10s ease-in-out infinite;
}
@keyframes bgsuccess {
  0%   { background-image: url(../src/asset/pexels-brett-sayles-912364.jpg);}
  25%  { background-image: url(../src/asset/pexels-pixabay-531756.jpg);}
  50%  { background-image: url(../src/asset/pexels-tahir-shaw-186980.jpg);}
  100% { background-image: url(../src/asset/pexels-ithalu-dominguez-907485.jpg);}
}
.bg{
  background-image: url(../src/asset/pexels-josh-sorenson-391522.jpg);
  background-size: cover;
  min-height:100vh;
  animation:bg 10s ease-in-out infinite;
}
@keyframes bg {
  0%   { background-image: url(../src/asset/pexels-josh-sorenson-391522.jpg);}
  25%  { background-image: url(../src/asset/pexels-simon-berger-1183099.jpg);}
  50%  { background-image: url(../src/asset/pexels-adam-kontor-325117.jpg);}
  100% { background-image: url(../src/asset/pexels-arnie-chou-1229042.jpg);}
}
.form-control{
  height:40px;
  font-weight: 900;
  font-size: 20px;
  box-shadow: 0px 5px rgba(0,0, 0,0.5) ;
  border-radius: 0px  0px 15px 15px;
}
.city{
  height: 10px;
  width: 10px;
  font-size: 1em;
}
.temp{
  height: 10px;
  width: 10px;
  font-size: 3em;
}
.num{
margin-top: 20px;
}
.description{
  position: relative;
  font-size: 25px;
  margin-top: 7em;
  transform-origin: 0.0;
  transform: rotate(270deg);
}
.down{
  margin-top: 1em;
  display:flex;
  font-size: 20px;
  justify-content:space-evenly;
  text-align: center;
  width: 96%;
  backdrop-filter: blur(5px);
  box-shadow:0 25px 45px rgba(0, 0, 0, 0.1);
  border:1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.3);
  margin:fit-content; 
}